*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}
.seection1{
    margin-top: 11%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.cardsbook{
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: 20px;
    padding: 0;
    position: relative;
  }
  
  .card1{
    border-color: #f8f6f6;
    box-shadow: 0 3px 16px 0 rgba(73, 79, 93, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
  }
  a{
      text-decoration: none;
      color: #A01A58;
  }

  a:hover{
    color: royalblue;
  }

.seection2{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardspad{
  display: flex;
  justify-content: center;
  height: 150px;
  padding: 0;
  position: relative;
  }
  
.card2{
  border-color: #f8f6f6;
  box-shadow: 0 3px 16px 0 rgba(73, 79, 93, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
}
  